body {
    display: block;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
#clock {
    font-size: 100px;
    text-align: center;
    color: white;
    margin-top: 200px;
    margin-bottom: 0;
}
#greeting {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    position: relative;
    top: 60%;
    color: white;
}
#quote {
    text-align: center;
    color: white;
    position: absolute;
    top: 90%;
    left: 37%;
}
#quote span:last-child {
    opacity: 0.6;
}
img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80%;
    filter: brightness(70%);
}
#login-form {
    position: absolute;
    top: 50%;
    left: 42%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.trans {
    background-color: transparent;
    border: none;
}
#todo-form {
    position: absolute;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    top: 60%;
    left: 43%;
}
input::placeholder {
    color: white;
}
#todo-input {
    width: 200px;
}
ul {
    position: relative;
    top: -300px;
}
li {
    color: white;
    margin: 5px;
}
#todolist {
    padding: 28px;
    color: white;
    position: relative;
    top: -300px;
    font-size: 20px;
}
#login-button {
    background-color: transparent;
    color: white;
    border: none;
}